<button type="button" (click)="changeTheme()">Switch Theme</button>

<main class="main-content">
  <!-- Card Section -->
  <section class="info-card">
    <!-- Header Section -->
    <header class="card-summary-header">
      <div class="content-flex flex-end">
        <img class="image-1" src="logo.png" alt="VGI Logo" />
        <div class="content-summary">
          <h1 class="header m0">VGI</h1>
          <p class="content-summary-text m0">
            Unofficial Content Creator Circle
          </p>
        </div>
      </div>
    </header>

    <!-- Body Section -->
    <article class="card-body">
      <div class="content-flex flex-center">
        <div class="card-body-text">
          <strong>Good Morning ☆</strong>
          <p>
            VGI is a diverse collective of silly but passionate friends brought
            together by their love of creating!
          </p>
          <p>
            In this group, you’ll find streamers, vtubers, artists, animators,
            gamers, graphic designers, and other creators.
          </p>
          <p>Don’t be shy, and check us out!</p>
        </div>
      </div>
    </article>
  </section>

  <!-- Navigation Links -->
  <nav class="navigation">
    <a href="https://vvgi.carrd.co/#creators" class="link-button">
      <span class="button-text">Creators</span>
    </a>
    <a href="https://vvgi.carrd.co/#members" class="link-button">
      <span class="button-text">Members</span>
    </a>
    <a href="https://vvgi.carrd.co/#credits" class="link-button">
      <span class="button-text">Credit</span>
    </a>
  </nav>
</main>
