/* Main Content Styles */
.main-content {
  position: relative;
}

.inner{
  max-width: 100%;
  position: relative;
}

.info-card {
  background: var(--cardColor);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 0.125rem 0.125rem 0 var(--shadow-color);
}

/* Card Header */
.card-summary-header {
  background: linear-gradient(180deg, var(--cardHighlight) var(--gradientPercentage), var(--cardColor) var(--gradientPercentage));
  padding: .375rem 1rem;
}

.logo-img {
  width: 150px;
  height: auto;
  object-fit: cover;
  aspect-ratio: 104 / 64; /* Modern property for consistent scaling */
}

.content-summary-text {
  color: var(--secondary-color);
}


