<nav class="d-flex flex-column flex-gap navigation p-15">
  <div><strong>Navigate here</strong></div>
  <div class="d-flex flex-row flex-gap-sm p0 justify-content-center">
    <a href="https://vvgi.carrd.co/#creators" class="px-15 button">
      <span>Creators</span>
    </a>
    <a href="https://vvgi.carrd.co/#members" class="px-15 button">
      <span>Members</span>
    </a>
    <a href="https://vvgi.carrd.co/#credit" class="px-15 button">
      <span>Credit</span>
    </a>
    <div (click)="changeTheme()" class="px-15 button">
      <span>Change Theme</span>
    </div>
  </div>
</nav>
