/* You can add global styles to this file, and also import other style files */
$bgColor_light: #FAFAFA;
$bgColor_dark: #121212;

$cardColor_light: #ffffff;
$cardColor_dark: #282828;

$cardHighlight_light: #f0f0f0;
$cardHighlight_dark: #3f3f3f;

$textColor_light: #4F4F4F;
$textColor_dark: #F4F4F4;

$button_light: #d3d3d3;
$button_dark: #575757;

$shadow_light: rgba(0, 0, 0, 0.25);
$shadow_dark: rgba(255,255,255, 0.25);

// mixin that enables css variables in light mode
@mixin lighten() {
  --bgColor: #{$bgColor_light};
  --cardColor: #{$cardColor_light};
  --cardHighlight: #{$cardHighlight_light};
  --textColor: #{$textColor_light};
  --buttonColor: #{$button_light};
  --shadow-color: #{$shadow_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --bgColor: #{$bgColor_dark};
  --cardColor: #{$cardColor_dark};
  --cardHighlight: #{$cardHighlight_dark};
  --textColor: #{$textColor_dark};
  --buttonColor: #{$button_dark};
  --shadow-color: #{$shadow_dark};
}

body.dark {
  @include darken();
}
body.light {
  @include lighten();
}

:root {
  --shadow-color: rgba(0, 0, 0, 0.25);
  --border-radius: 10px;
  --transition-duration: 0.3s;
}


* {
  box-sizing: border-box;
}

body {
  background: var(--bgColor);
  color: var(--textColor);
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:0.875em;
  line-height: 1.25;
  transition: background-color var(--transition-duration), transform var(--transition-duration);
}

p {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:0.875em;
  line-height: 1.25;
}


.header {
  font-weight: 600;
  font-size: 1.25em;
}

.m0 {
  margin: 0;
}

@media (max-width: 1680px) {
  html {
    font-size: 9pt;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 8pt;
  }
}
